<div class="staff container">
  <h1 class="staff_title">STAFF</h1>
  <div class="staff__container">
      <div class="staff__member">
        <img src="assets/img/staff-1.jpg" alt="" class="staff__member__profile">
        <h2 class="staff__member__name">Laura</h2>
        <a href="#" class="staff__member__link btn">Perdir cita</a>
      </div>
      <div class="staff__member">
        <img src="assets/img/staff-1.jpg" alt="" class="staff__member__profile">
        <h2 class="staff__member__name">Carmen</h2>
        <a href="#" class="staff__member__link btn">Perdir cita</a>
      </div>
      <div class="staff__member">
        <img src="assets/img/staff-1.jpg" alt="" class="staff__member__profile">
        <h2 class="staff__member__name">Mario</h2>
        <a href="#" class="staff__member__link btn">Perdir cita</a>
      </div>
      <div class="staff__member">
          <img src="assets/img/staff-1.jpg" alt="" class="staff__member__profile">
          <h2 class="staff__member__name">Sandra</h2>
          <a href="#" class="staff__member__link btn">Perdir cita</a>
      </div>
    </div>
  </div>